{% extends "admin/adminbase.html.twig" %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h1 class="display-4 text-center mt-5">
                    {{ title }}
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 mt-5">
                <a href="{{ path('admin_user_create') }}" class="btn btn-success">Создать пользователя</a>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h2>Список пользователей</h2>
                <ul>
                    {% for user in users %}
                        <li>{{ user.email }}, {{ user.roles | json_encode }}</li>
                        <div class="text-white bg-white"><a href="{{ path('user_delete', {'user': user.id }) }}">Удалить</a></div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}